In [11]:
import json
import requests
import pandas as pd
import numpy as np
import matplotlib.dates as mdates
from geopy.adapters import AioHTTPAdapter
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
#%load_ext autotime
import geopandas as gpd
import geopy
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm.notebook import tqdm_notebook
import reverse_geocoder as rg
import os

In [17]:
#usw1= pd.read_csv('../data/7890488/USC00042863.csv')

file_name = os.path.basename('USC00042863.csv')

usw1['station'] = file_name

usw1 = pd.DataFrame(usw1)

usw1

       Unnamed: 0        Date  tmax  tmin  prcp          station
0               1  1894-01-01  60.0  41.0  0.00  USC00042863.csv
1               2  1894-01-02  58.0  50.0  0.40  USC00042863.csv
2               3  1894-01-03  57.0  42.0  0.00  USC00042863.csv
3               4  1894-01-04  53.0  42.0  0.28  USC00042863.csv
4               5  1894-01-05  50.0  38.0  0.00  USC00042863.csv
...           ...         ...   ...   ...   ...              ...
46746       46747  2021-12-27   NaN   NaN   NaN  USC00042863.csv
46747       46748  2021-12-28   NaN   NaN   NaN  USC00042863.csv
46748       46749  2021-12-29   NaN   NaN   NaN  USC00042863.csv
46749       46750  2021-12-30   NaN   NaN   NaN  USC00042863.csv
46750       46751  2021-12-31   NaN   NaN   NaN  USC00042863.csv

[46751 rows x 6 columns]

In [21]:
# List all the CSV files in the directory
csv_files = [file for file in os.listdir('../data/7890488') if file.endswith('.csv')]

dfs = []

# Iterate over CSV files
for file in csv_files:
   
    df = pd.read_csv('../data/7890488/' + file)
    file_name = os.path.basename(file)
    
    df['File Name'] = file_name
    dfs.append(df)
merged_df = pd.concat(dfs, ignore_index=True)

merged_df

          Unnamed: 0        Date  tmax  tmin  prcp        File Name
0                  1  1894-01-01  60.0  41.0  0.00  USC00042863.csv
1                  2  1894-01-02  58.0  50.0  0.40  USC00042863.csv
2                  3  1894-01-03  57.0  42.0  0.00  USC00042863.csv
3                  4  1894-01-04  53.0  42.0  0.28  USC00042863.csv
4                  5  1894-01-05  50.0  38.0  0.00  USC00042863.csv
...              ...         ...   ...   ...   ...              ...
10475909       46747  2021-12-27  32.0   1.2  0.22  USW00094973.csv
10475910       46748  2021-12-28  22.1  -5.8  0.06  USW00094973.csv
10475911       46749  2021-12-29  20.1  -4.9  0.00  USW00094973.csv
10475912       46750  2021-12-30   NaN   NaN   NaN  USW00094973.csv
10475913       46751  2021-12-31   NaN   NaN   NaN  USW00094973.csv

[10475914 rows x 6 columns]